@charset "UTF-8";
/* CSS Document */

html {
	
	height: 100%;
	margin: 0;
}
h1 {
	
	color: transparent;
	background-image: url("images/test-logo.png");
	background-size: 100%;
	background-repeat: no-repeat;
	padding: 60px;
	width: 90%;
	height: auto;
	margin: 0 auto;
	margin-top: 0px;
	margin-bottom: 50px;
	
}

.options {
	
	display: block;
	margin: 0 auto;
	padding-top: 50px;
	text-align: center;
}
button {
	
	margin: 0 50px;
	display: inline-block;
	background-color: #9664c4;
	width: 150px;
	height: 70px;
	border-radius: 40px;
	border: none;
	color: #fff;

	font-size: 25px;
	font-family: "Roboto", sans-serif;
	font-weight: 700;
	
}

button:hover {
	background-color: #9829ff
}

#textInput {
	
	display: block;
	width: 500px;
	height: 55px;
	margin: 0 auto;
	margin-top: 25px;
	border-radius: 30px;
	color: #aaa;
	border: 2px solid #fff;
	background-color: black;
	outline: none;
	text-indent: 15px;
	font-size: 25px;
}

#textInput:hover { 
	border-color: #9829ff; /* A pleasant green border on hover */ 
} 

a {
	
	text-decoration: none;
	
}

body {
	margin: 40px;
	background-color: black;
	background-image: url("images/background.jpeg");
	
}

p {
	
	color: white;
	margin: 0 auto;
	text-align: center;
}

#title {
	
	display: block;
	height: 100%;
	width: 100%;
	background-color: black;
}

#randomSentence {
	margin-top: 160px;
	font-family: "Roboto", sans-serif;
	font-weight: 700;
	font-size: 30px;
	font-style: normal;
}


#videoDiv {width: 100%; height: 360px; position: relative; margin-top: 50%; margin-bottom: 80px;}

#video1 {
    margin: auto;
    display: block;
    position: relative;
	left: 50%;
    transform: translateX(-50%);
	height: auto;
	width: 100%;
}

#fortune { position: absolute; top: 0; left: 0;
display: flex;
flex-direction: column; 
justify-content: center;
align-items: center; 
width: 100%;
height: 100%;}


@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

#result {
   margin-top: 100px;
	display: block;
    width: 30%;
    opacity: 0; /* Initially set opacity to 0 */
    animation: fadeIn 2s ease forwards; /* Apply the fade-in animation */
	color: transparent;
}

#results-button {
	margin-top: 160px;
	width: 300px;
}




